<%- include('../includes/header'); %>

<div class="container">
  <h2>Tambah Menu</h2>

  <form action="/menus/store" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Nama Menu</label>
      <input type="text" class="form-control" id="namaMenu" name="namaMenu" />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Stok</label>
      <input type="text" class="form-control" id="stok" name="stok" />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Harga</label>
      <input type="text" class="form-control" id="harga" name="harga" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include('../includes/footer'); %>
